### Node ###
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

package-lock.json

# Dependency directories
node_modules/
jspm_packages/

# dotenv environment variables file
.env
.env.test

# parcel-bundler cache (https://parceljs.org/)
.cache

# next.js build output
.next

#Webstorm
.idea

#All sqlite databases
*.sqlite3

notes.md
